<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxXq80_1z0vHTU1KgN61zEPrVt0tJtUOo</string>
	<key>GCM_SENDER_ID</key>
	<string>849290243646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deeplinking</string>
	<key>PROJECT_ID</key>
	<string>deeplinking-53cf9</string>
	<key>STORAGE_BUCKET</key>
	<string>deeplinking-53cf9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849290243646:ios:701a7a3d670584c2742b6f</string>
</dict>
</plist>